
<!DOCTYPE html>
<html lang="en">
<head>
<title>DLAB</title>
<!--/metadata -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="keywords" content="MediBulk Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- //for-mobile-apps -->
<!-- <script src="js/dashbord.js"></script> -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />



<!-- <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
 --><!--//fonts-->
<!-- <link href="css/style1.css" rel="stylesheet" type="text/css" media="all" /> -->
<style>
	
	.ban
	{
		background:url(images/small.jpg)no-repeat center 0px; 
		background-size: cover; 
		height:500px!important;
		
	}
	
	.bash
	{
		background-color:rgba(0,0,0,0.6);
		margin-left:-3%;
		margin-right:-3%;
	}
	
	.mana
	{
		padding:5%;
		font-size:20px;
		text-align:center;
		padding-top:25%;
		color:white;
		
	}
	
	.w3-heading-all
	{
		padding:7%;
		margin-top:-25%;
	}

/*==================================================*/

	

</style>



</head>
	
<body ng-app="sampleApp">

<div class="banner-header dashBan" >
	<div class="banner-dott1">
		<!--header-->
		<div class="header">
			<div class="container-fluid">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="w3_navigation_pos">
							<h1><a href="index.html">"DLAB"</a></h1>
						</div>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="nav navbar-nav">
								<li><a href="index.html">Home</a></li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="services.html">Our Services</a></li>
								<li><a href="gallery.html">Gallery</a></li>
								<li class="active"><a href="index.html">Logout</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>
					</div>
				</nav>	
			</div>
		</div>
		<!--//caption 1 start -->
		<div class="carousel-caption col-sm-12" >
			<h4 class="text-justify" style="margin-top:20%; " ></h4>
			
		</div>

	</div>
	
</div>
<!-- // banner -->

	

<!-- about -->
	<div ng-controller="ProfileCtrl" class="container infoBan w3-heading-all" style="">
		<div class="row">
			<div class=" col-sm-12 " > <!-- carousel-caption -->
				<h3 >Donor Information</h3>
			
			</div>
		</div>
		<div class="row">	
			<!-- <div class="col-sm-12 col-md-6 ban">
				<div class="banner-dott1 bash" >
					<p class="mana">The Blood You Donate Gives Someone Another Chance At Life. One Day That Someone May Be A Close Relative, A Friend, A Loved One Or Even You.<br><br><br>“At 18 You Grow Up. At 18 You Drive. At 18 You Give Blood To Keep Someone Alive.”</p>
				</div>
			</div> -->
			<div class="col-sm-12 ">   <!-- col-md-6 -->
				<div class="col-sm-12">
					<div class="col-sm-12">
						<form class="form-horizontal" >
							<div class="form-group">
								<label class="control-label col-sm-6" style="text-align: left;" for="Donor">Donor Near By:</label>
								<div class="col-sm-6">
								  <input type="text" class="form-control" id="address" placeholder="Near By Location">
								</div>
							</div>
							<div class="form-group" >
								<label class="control-label col-sm-6" style="text-align: left;" for="BloodGroup">Short By Blood Group:</label>
								<div class="col-sm-6">
									<select class=" dropheight form-control"  ng-model="input" placeholder="Blood Group" style="margin-top:7px;">
										<option value="A+">A+ ( A Positive )</option>
										<option value="A-">A- ( A Negative )</option>
										<option value="B+">B+ ( B Positive )</option>
										<option value="B-">B- ( B Negative )</option>
										<option value="AB+">AB+ ( AB Positive )</option>
										<option value="AB-">AB- ( AB Negative )</option>
										<option value="O+">O+ ( O Positive )</option>
										<option value="O-">O- ( O Negative )</option>
									</select>
								</div>
							</div>
							<div  class="form-group"> 
								<div class=" col-sm-12">
									<button type="submit" class="btn btn-primary btn-block" ng-click="check()" style="background-color: #9e0033">Search</button>
								</div>
							</div>


						</form>
					</div>
				</div>
				<div class=" col-sm-12 table-responsive table-bordered" style="overflow:auto; height:700px; border:5px solid #ddd;" >
					<table class="table table-hover" align="center" >
				<thead>	
					<tr>
						<th >Donor Name</th>
						<th >Blood Group</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat ="feed in feeds">
						<td>{{feed.val().Firstname}}</td>
						<td>{{feed.val().Bloodgroupp}}</td>
								
					</tr>

				<tbody>
			</table>
				</div>

			</div>			
		</div>
		
	</div>
	
<!-- footer -->
<div class="footer">
	<div class="container">
	<div class="footer_agile_inner_info_w3l">
		<div class="col-md-4 footer-left">
			<h2><a href="index.html">DLAB ( Donate Life as 'Blood') </a></h2>
			<p>Donate blood as life is a application that helps to provide blood to the needy peoples.
</p>
			<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter"> 
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
		</div>
		<div class="col-md-4 footer-right">
			<div class="sign-grds">
				<div class="sign-gd">
					<h4>Information </h4>
					<ul>
						 <li><a href="index.html" class="active">Home</a></li>
        <li><a href="about.html" >About</a></li>
        <li><a href="services.html">Camp</a></li>
		<li><a href="gallery.html">Gallery</a></li>
		<li><a href="contact.html">Contact</a></li>
						
					</ul>
				</div>
				</div>
			</div>
				<div class="col-md-4 sign-gd-two">
					<h4>Address</h4>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>+91-9806445445</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="patwashivam.pip@gmail.com"> Patwashivam.pip@gmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p>201-Soni Mention Ratlam kothi, Near Geeta bhawan square Indore. 
								
								</p>
							</div>
							
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
				
		
		<div class="clearfix"></div>
			
		<p class="copy-right">&copy;2018 WebBhumi All rights reserved | Design by <a href="http://www.webbhumi.com/">Shivam Patwa</a></p>
	</div>
</div>
</div>
<!-- //footer -->


<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- //Tour-Locations-JavaScript -->
			<script src="js/SmoothScroll.min.js"></script>
		<!-- smooth scrolling-bottom-to-top -->
				<script type="text/javascript">
					$(document).ready(function() {
					/*
						var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
						};
					*/								
					$().UItoTop({ easingType: 'easeOutQuart' });
					});
				</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		<!-- //smooth scrolling-bottom-to-top -->
		<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script> -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
<script type="text/javascript">
var app = angular.module("sampleApp", ["firebase"]);
     var config = {
    apiKey: "AIzaSyDTJt6I_APWd3LADE1kB4N_yGV5bcNpsIU",
    authDomain: "dlab-webbhumi.firebaseapp.com",
    databaseURL: "https://dlab-webbhumi.firebaseio.com",
    projectId: "dlab-webbhumi",
    storageBucket: "dlab-webbhumi.appspot.com",
    messagingSenderId: "917335204678"
  };
    app.controller("ProfileCtrl", ["$scope", "$firebaseObject","$firebaseArray",function($scope, $firebaseObject,$firebaseArray) {
      var fb = firebase.initializeApp(config);
      var ref = fb.database().ref();
      $scope.profile = $firebaseObject(ref.child("Hospital"));
   

          
  
      
      
      $scope.check = function(){
        var ref = fb.database().ref();  // var usersRef = firebase.database().ref("Hospital");
        ref.orderByChild("Bloodgroupp").equalTo($scope.input).on("value", function(data) {
        
        	//var a= data.val();
       // console.log(data.val());
       
        data.forEach(function(data) {
        	$scope.feeds= data;
   
        // console.log(data.val());
    }); 
         });
      }
  }
  ]);
</script>

</body>
</html>