
<!DOCTYPE HTML>
<html>
<head>
<title>Donor Login Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medical Emergency Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates, 
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link rel="stylesheet" type="text/css" href="../form/css/bootstrap.css">
<link href="../form/css/style.css" rel='stylesheet' type='text/css' />
<script src="js/jquery.js" charset="utf-8"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.js" type="text/javascript"></script>
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">


</head>
<body ng-app="myModule">
<!--background-->
<h1> Donor Login Form </h1>
    <div class="bg-agile">
  <div class="book-appointment">
  <h2>Donor Login</h2>
      <form ng-controller="myContoller" class="main row color" action="" method="get" class="">
        <div class="form-group">
<div class="row">
  <div class="col-md-6">
          <label for="">Enter E-mail</label><br>
          <input ng-model="person.name" class="form-control" type="text" name="Username" value="" placeholder="Enter E-mail" required>
    </div>
    <div class="col-md-6">

          <label for="">Password:</label><br>
          <input ng-model="person.password" class="form-control" type="password" name="password" value="" placeholder="Password" required>
    </div>
</div>

<br>

          <div class="clear"></div>
        <button type="button"  ng-click="Store()">Login</button>

        </div>

      </form>
    </div>
   </div>
   

    <!-- Calendar -->
        <link rel="stylesheet" href="css/jquery-ui.css" />
        <script src="js/jquery-ui.js"></script>
          <script>
              $(function() {
              $( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
              });

var app= angular.module("myModule",["firebase"]);
var config = {
    apiKey: "AIzaSyDTJt6I_APWd3LADE1kB4N_yGV5bcNpsIU",
    authDomain: "dlab-webbhumi.firebaseapp.com",
    databaseURL: "https://dlab-webbhumi.firebaseio.com",
    projectId: "dlab-webbhumi",
    storageBucket: "dlab-webbhumi.appspot.com",
    messagingSenderId: "917335204678"
  };
  // firebase.initializeApp(config);
  app.controller("myContoller",["$scope","$window","$firebaseObject","$firebaseArray",function($scope,$window,$firebaseObject,$firebaseArray){
    var fb = firebase.initializeApp(config);
var ref = fb.database().ref();
$scope.profile = $firebaseObject(ref.child("person"));
$scope.Store=function(){


firebase.auth().signInWithEmailAndPassword($scope.person.name, $scope.person.password).then(function(){
  $window.location.href="../dashboard-donor.html";
  console.log("login");
}).catch(function(error) {
   console.log(error.code);
   console.log(error.message);
});
}
  }]);
//--------------------------------------------------------------------------------------------
// Phone number authentication.................

firebase.auth().useDeviceLanguage();

window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('Store()', {
  '4': 'invisible',
  'callback': function(response) {
    // reCAPTCHA solved, allow signInWithPhoneNumber.
    onSignInSubmit();
  }
});

</script>

</body>
</html>


